/BasicoJava/nbproject/private/
/BasicoJava/build/
/Exercícios em Java/Lista03ExercicioA/dist/
/Exercícios em Java/LerExibir/nbproject/private/
/Exercícios em Java/LerExibir/build/
/Exercícios em Java/LerExibir/dist/
/Exercícios em Java/Exercicio03C/nbproject/private/
/Exercícios em Java/Exercicio03C/build/
/Exercícios em Java/Exercicio04A/nbproject/private/
/Exercícios em Java/Exercicio04A/build/
/Exercícios em Java/Exercicio04B/nbproject/private/
/Exercícios em Java/Exercicio04B/build/
/Exercícios em Java/Exercicio04C/nbproject/private/
/Exercícios em Java/Exercicio04C/build/
/Exercícios em Java/Exrercicio4C2/nbproject/private/
/Exercícios em Java/Exrercicio4C2/build/